*{
    box-sizing: border-box;
    }
    body{
        background:#0F172A
    }
    .content {
        padding: 4rem;
        border-radius:1rem ;
        text-align:center;
        background:#334155;
        max-width: 700px;
        width: 100%;
        transform:translate(-50%, -50%);
        position: absolute;
        top:50%;
        left:50%;
        font-size:1.5rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        

    }
    .scoring {
        display:flex;
        gap:1rem;
       

    }
    .scoring > div{
        width:calc(100%/3);
        background:#A855F7;
        color:#fff;
        border-radius: .75rem;
        padding:.5rem;
        display:flex;
        flex-wrap: wrap-reverse;
        height:100px;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .header-title{
        margin-bottom:2rem
    }
    .header-title h1{
        text-transform: uppercase;
        color:#fff;
        font-size:2.5rem;
        margin-top:0;
    }
    .btn{
        padding:1rem 2rem;
        font-size:1rem;
        font-weight: bold;
        border:none;
        border-radius: .7rem;
        cursor: pointer;
        text-transform: uppercase;
        background:#fff;


    }
    #displayWord{
        padding:.4rem .8rem;
        background:#0369A1;
        border-radius: .25rem;
        display: inline-block;
        color:#fff;
    }
    #inputWord{
        border:none;
        border-bottom: 2px solid #fff;
        outline:none;
        font-size:1.4rem;
        background:transparent;
        padding: 1rem 0;
        text-align: center;
        color:#fff;
        ;

    }
    #wordsInputted{
        max-height: 113px;
        overflow: hidden;
    }
    #wordsInputted > span{
        display: inline-block;
        margin:5px 2px;
        padding:.5rem;
        color:#fff;
        border-radius: .4rem;

    }
    #wordsInputted .red{
        background:#DC2626
    }
    #wordsInputted .green{
        background-color: #15803D;
    }
    .hide{
        display: none !important;
    }
    .show{
        display:block !important
    }